[gpt3]
api_key = MY_TOKEN

[database]
uri = mongodb://USER:PASS@35.184.202.109:27017/chatbot_data
database = chatbot_data
users = users
conversations = conversations
responses_tagged_data = responses_tagged_data

[certificates]
path = certificates

[cloudrun]
url = https://answer-question-custom-otvhii5yna-uc.a.run.app
endpoint = /messages/ask_question
